
<div class="events delete">
    <h1>Delete Volunteer?</h1>

    <%= form_for(@volunteer, :method => 'delete') do |form| %>

        <p>Are you sure you want to permanently delete this volunteer record?</p>

        <p class="reference-name"><%= @volunteer.first_name %> <%= @volunteer.last_name %></p>

        <div class="form-buttons">
            <%= form.submit("Delete Volunteer", {:class => 'btn btn-danger'}) %>
        </div>

    <% end %>
</div>