<div class="volunteers delete">

    <h2>Delete Volunteer</h2>

    <%= form_for(@volunteer, url: volunteer_path(@volunteer), method: => 'delete') do |form| %>

        <p>Are you sure you want to permanently delete this volunteer?</p>

        <p class="reference-name"><%= form.object.name %></p>

        <div class="form-buttons">
            <%= form.submit("Delete Volunteer", {:class => 'btn btn-danger'}) %>
        </div>
    <% end %>
</div>