<% @page_title = "Edit Volunteer" %>

<h1>Edit Volunteer</h1>

<%= form_for :volunteer, url: volunteer_path(@volunteer), method: :patch do |form| %>

    <%= render(:partial => 'form', :locals => {:form => form}) %>

    <p>
        <%= form.submit({:class => 'btn btn-primary'}) %>
    </p>
<% end %>