<% @page_title = "Add Volunteer" %>

<h1>Add Volunteer</h1>

<%= form_for :volunteer, url: volunteers_path do |form| %>

    <%= render(:partial => 'form', :locals => {:form => form}) %>

    <p>
        <%= form.submit({:class => 'btn btn-primary'}) %>
    </p>
<% end %>