<% @page_title = "Add Volunteer" %>

<div>
    <h3>Warning: Cannot add a Volunteer yet</h3>

    <p>
      Before adding a Volunteer record, there must be at least one Member Type created.
    </p>
</div>

<div>
    <p>
      <%= link_to "Create Member Type", new_member_type_path, :class => 'btn btn-info' %>
    </p>
</div>
