<% @page_title = "Add Time Record" %>

<h1>Add Time Record</h1>

<%= form_for :time_record, url: time_records_path do |form| %>

    <%= render(:partial => 'form', :locals => {:form => form}) %>

    <p>
        <%= form.submit("Save Time Record", {:class => 'btn btn-primary'}) %>
    </p>
<% end %>