<% @page_title = "Add Time Record" %>

<div>
    <h3>Warning: Cannot add a Time Record yet</h3>

    <p>
      Before adding a Time Record, there must be at least one
       Event and Volunteer created.
    </p>
</div>

<div>
    <p>
      <%= link_to "Add Event", new_event_path, :class => 'btn btn-info' %>
    </p>
    <p>
      <%= link_to "Add Volunteer", new_member_type_path, :class => 'btn btn-info' %>
    </p>
</div>
