<% @page_title = "Welcome" %>

<h1>Welcome</h1>

<p>
    <%= link_to "Add Time Record", new_time_record_path, :class => 'btn btn-info' %>
</p>

<p>
    <%= link_to "Add Volunteer", new_volunteer_path, :class => 'btn btn-info' %>
</p>
