<% @page_title = "Welcome" %>

<h1>Volunteer Time Recorder</h1>
<p>This is the homepage of the application.</p>

<p>
    <%= link_to "Add Time Record", new_time_record_path, :class => 'btn btn-info' %>
</p>

<p>
    <%= link_to "Add Volunteer", new_volunteer_path, :class => 'btn btn-info' %>
</p>
