<% @page_title = "Edit Event" %>

<h1>Edit Event</h1>

<%= form_for :event, url: event_path(@event), method: :patch do |form| %>

    <%= render(:partial => 'form', :locals => {:form => form}) %>

    <p>
        <%= form.submit({:class => 'btn btn-primary'}) %>
    </p>
<% end %>