<% @page_title = "Member Types" %>

<h1>Member Types</h1>

<p>
    <%= link_to "Add Member Type", new_member_type_path(@member_type), :class => 'btn btn-primary' %>
</p>


<div>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Quota Hours</th>
            <th scope="col">More Info</th>
            </tr>
        </thead>
        <tbody>
            <% @member_types.each do |member_type| %>
                <tr>
                    <td><%= link_to member_type.name, member_type_path(member_type) %></td>
                    <td><%= link_to member_type.quota_hours, member_type_path(member_type) %></td>
                    <td><%= link_to "Details", member_type_path(member_type), :class => 'btn btn-secondary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<% if @member_types.blank? %>
  <h4>
    There are no Member Types yet.
  </h4>
<% end %>
